* {
  box-sizing: border-box;
  margin: 0;
  background-color: #141414;
  color: white;
}

.app {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.header {
  position: absolute;
  width: 100%;
  height: 500px;
}

.app-body {
  position: absolute;
  top: 28vh;
  width: 100%;

}

@media all and (min-width: 480px) {
  .app-body {
    top: 75vh;
  }
}
@media all and (min-width: 800px) {
  .app-body {
    top: 75vh;
  }
}
@media all and (min-width: 1200px) {
  .app-body {
      top: 75vh;
  }

}